<div id="modal2" class="modal">
    <div class="modal-content center">
        <img src="../assets/images/icon.png" width="60px">
        <h5>Thank you for your participation</h5>
        <p style="font-size: 16px">
            To create your own awesome chart, sharing with friends and more features, please download our mobile app 
        </p>
        <a href="https://itunes.apple.com/us/app/vote-fun/id1271200055?ls=1&mt=8">
        <img src="../assets/images/app-store.svg">
        </a>
        <p>
        <a href="https://play.google.com/store/apps/details?id=com.mr.votefun">
        <img src="../assets/images/google-play-badge.png" height="60">
        </a>
        </p>       
    </div>
  </div>
<div *ngIf="isAuth" style="background : #ffffff">
<div *ngIf="loading == true" class="loader center-loader"></div>
<div *ngIf="loading == false">
    <chart-component (onVoted)="onVoted($event)" *ngIf="chartDetails!=null" [chartDetails]="chartDetails"></chart-component>
</div>
</div>