<app-menu-bar></app-menu-bar>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content center">
      <p style="font-size : 16px">
        Please Login With Facebook to be able to vote
      </p>
        <a class="waves-effect waves-light btn"  style="background-color:#3B5998" (click)="login()">
          <i class="fa fa-facebook fa-fw"></i> 
          Login With Facebook
        </a>       
    </div>
  </div>
<div  style="background : #ffffff;margin:0;border: 0.1px white solid">
  <router-outlet></router-outlet>
</div>


