  <div style="text-align: center">
        <img src="../assets/images/icon.png" width="200px" style="padding-top: 30px;">
        <p style="font-size: 16px" style="font-size: 22px">
            To create your own awesome charts, sharing it with friends and more features 
        </p>
          <p style="font-size: 22px">please download our mobile app</p>
        <a href="https://itunes.apple.com/us/app/vote-fun/id1271200055?ls=1&mt=8">
        <img src="../assets/images/app-store.svg">
        </a>
        <p>
        <a href="https://play.google.com/store/apps/details?id=com.mr.votefun">
        <img src="../assets/images/google-play-badge.png" height="60">
        </a>
        </p>
  </div>
